@use "./components/modal";
@use "./components/pageView";
@use "./components/reader";
@use "./components/chatbot";

@font-face {
  font-family: "MapoGoldenPier";
  src: url("/MapoGoldenPierA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  color: var(--dark-color);
  user-select: none;
}

:root {
  --theme-color: #ff8585;
  --theme-bg-color: #ffe7e7;
  --alt-color: #c28080;
  --alt-bg-color: #f4f0f0;
  --dark-color: #282c34;
  --dark-grey-color: #d2d2d2;
  --light-grey-color: #eaeaea;
  --light-color: #f9f9f9;
  --white-color: #ffffff;
  --red-color: #ff0000;
  font-family: "MapoGoldenPier";
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
}

#root {
  width: 100%;
  height: 100%;
}
