OPENAI_API_KEY=

OPENAI_EMBEDDING_MODEL="text-embedding-3-small"

FRONTEND_DEV_PORT=3000

BACKEND_PORT=3001
BACKEND_HOST="http://localhost" # Local
# BACKEND_HOST="http://backend" # Docker Compose

CHROMA_DB_PORT=8000
CHROMA_DB_HOST="localhost" # Local
# CHROMA_DB_HOST="chromadb" # Docker Compose 
