.book-reader {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .book-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &[data-orientation="portrait"] .book-page-wrapper {
    flex-direction: column;
  }
  &[data-orientation="landscape"] .book-page-wrapper {
    flex-direction: row;
  }

  .book-reader-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 2em;
  }
  &[data-orientation="portrait"] .book-reader-header {
    flex-direction: column;
  }
  &[data-orientation="landscape"] .book-reader-header {
    flex-direction: row;
  }

  .book-reader-footer {
    width: 100%;
    text-align: center;
    padding: 2em;
  }

  .breath-button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
  }

  .page-control-button {
    position: absolute;
    width: 3rem;
    height: 6rem;
    top: 50%;
    margin-top: -3rem;
    background-color: var(--dark-color);
    opacity: 0.5;
    color: var(--white-color);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 999px;
    &.left {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      left: 0;
    }
    &.right {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      right: 0;
    }
  }
}

.breath-modal {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
  overflow-y: auto;
  .breath-modal-header {
    text-align: center;
    padding: 0.5em;
  }
  .breath-modal-content {
    flex-grow: 1;
    min-height: 0;
    padding: 1em;
  }
}
