.chat {
  border: 1px solid var(--dark-grey-color);
  border-radius: 0.5em;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .chat-list {
    width: 10em;
    min-width: 10em;
    overflow-y: auto;
    .chat-list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.2em;

      &.active {
        background-color: var(--light-grey-color);
      }

      .chat-title {
        flex-grow: 1;
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
        padding: 0.2em;
        margin-right: 0.2em;

        &:hover {
          background-color: var(--light-grey-color);
        }
      }

      .delete-chat-button {
        position: relative;
        width: 1.5em;
        height: 1.5em;

        &:hover {
          background-color: var(--light-grey-color);
        }

        &::before {
          content: "";
          width: 0.2em;
          height: 0.8em;
          margin-top: -0.4em;
          margin-left: -0.1em;
          background-color: var(--dark-grey-color);
          position: absolute;
          transform: rotate(45deg);
          top: calc(50%);
          left: calc(50%);
        }

        &::after {
          content: "";
          width: 0.2em;
          height: 0.8em;
          margin-top: -0.4em;
          margin-left: -0.1em;
          background-color: var(--dark-grey-color);
          position: absolute;
          transform: rotate(135deg);
          top: calc(50%);
          left: calc(50%);
        }
      }
    }

    .new-chat-button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5em;

      &:hover {
        background-color: var(--light-grey-color);
      }

      .new-chat-button {
        position: relative;
        display: block;
        height: 1.5em;
        width: 1.5em;

        &::before {
          content: "";
          width: 0.2em;
          height: 0.8em;
          margin-top: -0.4em;
          margin-left: -0.1em;
          background-color: var(--dark-grey-color);
          position: absolute;
          top: calc(50%);
          left: calc(50%);
        }

        &::after {
          content: "";
          width: 0.8em;
          height: 0.2em;
          margin-top: -0.1em;
          margin-left: -0.4em;
          background-color: var(--dark-grey-color);
          position: absolute;
          top: calc(50%);
          left: calc(50%);
        }
      }
    }
  }

  .chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--dark-grey-color);

    .chat-title {
      padding: 0.5em;
      font-size: 1.2em;
      background-color: var(--theme-bg-color);
      border-bottom: 1px solid var(--dark-grey-color);
      text-align: center;
    }

    .chat-message-container {
      flex-grow: 1;
      overflow-y: auto;
      padding: 0.5em;
      background-color: var(--dark-grey-color);

      .chat-message {
        margin-bottom: 0.5em;
        display: flex;

        &.user {
          justify-content: flex-end;
        }

        .chat-message-content {
          padding: 0.5em;
          border-radius: 0.5em;
          &.user {
            border-top-right-radius: 0;
            background-color: var(--theme-bg-color);
          }
          &.assistant {
            border-top-left-radius: 0;
            background-color: var(--light-color);
          }
        }
      }
    }

    .chat-input {
      display: flex;
      align-items: center;
      padding: 0.5em;
      border-top: 1px solid var(--dark-grey-color);

      input {
        flex-grow: 1;
        padding: 0.5em;
        border-radius: 0.2em;
        margin-right: 0.5em;
      }

      button {
        padding: 0.5em 1em;
        background-color: var(--theme-color);
        color: var(--white-color);
        border-radius: 0.2em;
        cursor: pointer;
      }
    }
  }
}
